body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .hero {
    display: flex;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
}

.header, .footer, .hero {
    background-color: #1f2937;
    color: #F9FAF8;
}

.header h1 {
    font-size: 48px;
}

.header_logo {
    font-size: 24px;
}

.header_links ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.hero {
    display: flex;
    gap: 20px;
    padding: 40px;

}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .right {
    width: 50%;
}

.right img {
    width: 250px;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #eee;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.body h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.container {
    display: flex;
    flex: 1;
}

.image img {
    border-color: blue;
    border-radius: 5%;
    border-style: solid;
    width: 120px;
    height: 120px;
}

.cta {
    background-color: #E5E7EB;
}

.quote {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.footer {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}